@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-playfair);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  /* --sidebar: oklch(0.208 0.042 265.755); */
  --sidebar: oklch(0.129 0.042 264.695);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* CUSTOM COLOR THEME */
@theme {
  /* Bg color */
  --color-black-500: #000A0F;

  /* Primary Colors */
  --color-primary-50: #EAF2FD;
  --color-primary-100: #BFD7F9;
  --color-primary-200: #A0C3F7;
  --color-primary-300: #74A8F3;
  --color-primary-400: #5997F1;
  --color-primary-500: #307DED;
  --color-primary-600: #2C72D8;
  --color-primary-700: #2259A8;
  --color-primary-800: #1A4582;
  --color-primary-900: #143564;

  /* Secondary Colors */
  --color-secondary-50: #E6E7E7;
  --color-secondary-100: #B0B3B5;
  --color-secondary-200: #8A8E91;
  --color-secondary-300: #545B5E;
  --color-secondary-400: #333B3F;
  --color-secondary-500: #000A0F;
  --color-secondary-600: #00090E;
  --color-secondary-700: #00070B;
  --color-secondary-800: #000608;
  --color-secondary-900: #000406;

  /* Error */
  --color-error-500: #ED4337;

  --color-gray-900: #050505;
  --color-gray-800: #141414;
  --color-gray-700: #212328;
  --color-gray-600: #30333A;
  --color-gray-500: #9095A1;
  --color-gray-400: #CCDADC;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-black-500 text-foreground font-sans;
  }
}

@layer utilities {

  /* Gradients */
  .main-button-gradient {
    background: linear-gradient(90deg, #307DED 0%, #1B4787 100%);
    @apply border border-white/35 h-10 text-white hover:brightness-125 transition-all duration-300 ease-in-out hover:-translate-y-0.5 cursor-pointer;
  }

  .stepper-gradient {
    background: linear-gradient(133.264deg, #FFFFFF 0%, #7CF6FF 100%);
  }

  .button-gradient {
    background: linear-gradient(79.906deg, rgba(48, 125, 237, 35%) 0%, rgba(0, 0, 0, 0%) 100%);
  }

  .gradient-01 {
    background-image: radial-gradient(circle at top left,
        #307DED 0%,
        #010101 100%);
    filter: blur(90px);
  }

  /* Table Gradients */
  .table-bg-gradient {
    background: linear-gradient(79.74deg, rgba(48, 125, 237, 5%) 0%, rgba(0, 0, 0, 12%) 100%);
  }

  .table-header-gradient {
    background: linear-gradient(90deg, rgba(0, 0, 0, 12%) 0%, rgba(48, 125, 237, 12%) 100%);
  }


  /* Auth */
  .auth-layout {
    @apply relative flex flex-col items-center justify-center h-screen w-full p-3 bg-black-500 overflow-hidden bg-center bg-cover bg-no-repeat overflow-y-auto bg-[url(/images/AuthLeftBg.jpg)];
  }


  .auth-container {
    @apply relative flex flex-col items-center justify-between mt-12 p-4 w-full rounded-3xl backdrop-blur-3xl border border-white/20 shadow-sm shadow-white/10 max-w-lg;
  }

  .auth-logo-container {
    @apply absolute z-10 left-1/2 -translate-x-1/2 -top-12 h-[100px] w-[100px] rounded-3xl border border-white/30 bg-black-500 backdrop-blur-2xl shadow-sm shadow-white/20;
  }

  .auth-children {
    @apply mt-13 flex flex-col items-center justify-center w-full;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}